<!DOCTYPE html>
<html lang="en">
<head>
     <img  src="static//leek.png" style="width:80px;height:80px;" ><img src="static/meet.png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form method="post" action="/signup">
        <!-- Heading -->
        <h4>
            Create an account
        </h4>

        <!-- Subheading -->
        <p >
            Please fill up your information below to sign up.
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>

            <div class="input-group">
                <input type="email"  name="email" id="emailStr" required >
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>



        <div>
            <label>username</label>
            <div class="input-group">
                <input type="text"  name="username" maxlength="14">
            </div>
        </div>
        <!-- Button -->
        <div><center>
            <input type="submit" class="page_button"/>    <a href="/"><button class="page_button">Sign in</button></a>
            </center>
        </div>
    </form>
    <br>

</body>
</html>