        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
 <img  src="static//leek.png" style="width:80px;height:80px;" ><img src="static/meet.png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

<body>
    <form method="post" action="/">
        <!-- Heading -->
        <h4>
        Log in to your account
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to sign in.
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div class="input-group">
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>

        <!-- Button -->
        <div >
            <input type="submit"class="page_button"/>     <a href="/signup"><button class="page_button">Sign up</button></a>
        </div>
    </form>
    <br>

</body>
</html>